[Desktop Entry]
Type=Application
Name=Legacy Launcher
Keywords=game;strategy;
Comment=Minecraft Launcher
Icon=llaunch
Exec=llaunch
Terminal=false
StartupNotify=false
Categories=Game;AdventureGame;
